<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PreTimer.Properties.Settings>
            <setting name="D_min" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="D_sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_over_mu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_tips_mu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_tips_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_tips_sec" serializeAs="String">
                <value>30</value>
            </setting>
        </PreTimer.Properties.Settings>
    </userSettings>
</configuration>